{
    "plugins": ["jasmine"],
    "extends": ["eslint:recommended", "plugin:jasmine/recommended"],
    "env": {
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "no-console": off,
        "consistent-return": off
    }
}