<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Find out the average certification times for Alexa Skills" />
    <meta name="google-site-verification" content="nT4zsLKuyHDeCnbxO6rFhENd1bP99e9shOzmvPcumWs" />
    <title>Average Alexa Skill Certification Times</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Heder section -->

    <div class="header-container">
        <div class="header-item-text huge">
            Average <span class="accent">Alexa Skill</span> Certification Times
        </div>
        <div class="header-item-image">
            <img src="alexa-devices.png" />
        </div>
    </div>

    <!-- Main section -->

    <div class="faq-container default-padding">
        <div class="faq-item-first">
            <div class="faq-title">How To Contribute</div>
            <div class="faq-answer">
                <p>This site is only made possible by the contribution that <b>you</b> make. </p>
                <p>Please take a few seconds after you received that "Your Alexa skill ... is now live!" ✌️ email to post your certification time.</p>
            </div>
        </div>
        
        <div class="faq-item">
            <div class="faq-question">Twitter</div>
            <div class="faq-answer">
                <p>Super simple! Post a message with the <a href="https://twitter.com/hashtag/skillcertificationtime">#skillcertificationtime</a> hash tag and the number of days.</p>
                <p>You can also include the skill name and a link to it. The sky is the limit, unless your message not exceed the 280 characters length! See this <a href="https://twitter.com/DrAL3X/status/974568766691512320">example</a>.</p>
                <p>If you prefer to report it privately, just send a DM to <a href="https://twitter.com/skillcerttimes">@skillcerttimes</a> and it will be accepted as well.</p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">Alexa Skill</div>
            <div class="faq-answer">
                <p>It's not ready yet but soon you'll be able to submit your certification times from an Alexa enabled device!</p>
                <p>As soon as the Alexa Skill is available, more details will be shared.</p>
            </div>
        </div>

    </div>

    <!-- Footer section -->

    <div class="footer-container default-padding">
        <div class="footer-item disclaimer">
            <b>DISCLAIMER:</b> 
            This website is not associated with the Amazon Inc. in any way and cannot be considered an Amazon official source of information
            <br />
            Amazon, Alexa and all related logos are trademarks of Amazon.com, Inc. or its affiliates.
            <br />
            Twitter and Tweet are trademarks of Twitter Inc.
        </div>

        <div class="footer-item">
            Created by <a href="https://twitter.com/dral3x">Alessandro Calzavara</a>, with the precious help of <a href="https://twitter.com/brigitadaisy">Brigita</a> and <a href="https://twitter.com/emanuele_r">Emanuele</a> ❤️️.
        </div>

        <div class="footer-item">
            This website is updated every hour or so.
            Last update was {{now}}
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-367202-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-367202-7');
    </script>
</body>
</html>