<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Find out the average certification times for Alexa Skills" />
    <meta name="google-site-verification" content="nT4zsLKuyHDeCnbxO6rFhENd1bP99e9shOzmvPcumWs" />
    <title>Average Alexa Skill Certification Times</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" />

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Average time');

        data.addRows([
          // Real data
          {{#last_30_days}}
          [new Date('{{date}}'), {{value}}],
          {{/last_30_days}}
          
          /*
          // Testing data
          [new Date('2018-03-01'), 15],
          [new Date('2018-03-02'), 5],
          [new Date('2018-03-03'), 9],
          [new Date('2018-03-04'), 4],
          */
        ]);

        var options = {
          chart: {
          },
          legend: {
            position: "none"
          },
          height: 300
        };

        var chart = new google.charts.Line(document.getElementById('chart'));
        chart.draw(data, google.charts.Line.convertOptions(options));
      }
    </script>

  </head>
  <body>

      <!-- Header section -->

  		<div class="header-container">
        <div class="header-item-text huge">
          Average <span class="accent">Alexa Skill</span> Certification Times
        </div>
        <div class="header-item-image">
          <img src="alexa-devices.png" />
        </div>
  		</div>

      <!-- Banner section -->

      <div class="banner-container">
        <div class="banner-item">
          <b>DISCLAIMER:</b> This website is not associated with the Amazon Inc. in any way and cannot be considered an Amazon official source of information.
        </div>
      </div>

      <!-- Main section -->

  		<div class="main-container">
        <div class="main-item summary">
          <div class="title">The average time of the last 30 days</div>
          <div class="huge accent">{{overall.average_text}}</div>
          <div><b>{{overall.diff_text}}</b> compared to the previous cycle</div>
          <div>based on {{overall.count}} reports</div>
        </div>

        <div class="main-item">
  			  <div class="title">Trends graph for the last 30 days</div>
          <div id="chart"></div>
        </div>
  		</div>

      <!-- Contribute section -->

      <div class="contribute-container default-padding">
        <div class="contribute-container-inner extra-padding">
          <div class="contribute-item">
            This site is only made possible by people like you contributing review durations.
          </div>
          <div class="contribute-item">
            <span class="accent"><b>Please contribute your latest review.</b></span>
          </div>
        </div>
        <div class="contribute-item-last extra-padding">
          <a class="button" href="contribute.html">CONTRIBUTE</a>
        </div>
      </div>

      <!-- FAQ section -->

      <div class="faq-container default-padding">
  			<div class="faq-item-first">
          <div class="faq-title">FAQ</div>
        </div>
        
        <div class="faq-item">
          <div class="faq-question">What is this?</div>
          <div class="faq-answer">This site tracks the average Alexa Skill certification times for any kind of skill, using data crowdsourced from Alexa developers.</div>
        </div>

        <div class="faq-item">
          <div class="faq-question">Where does this data come from?</div>
          <div class="faq-answer">
            Let me be super clear: Amazon <b>does NOT share</b> any official nor internal information with this site.
            Data are based only on information gathered from Twitter, where people voluntarily post their latest certification times using the <a href="https://twitter.com/hashtag/skillcertificationtime">#alexacertificationtime</a> hash tag. 
            More details are available in the <a href="contribute.html">How to Contribute</a> page.
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">How do I contribute data?</div> 
          <div class="faq-answer">
            It's simple! Just post to Twitter a message with the <a href="https://twitter.com/hashtag/skillcertificationtime">#skillcertificationtime</a> hash tag and the number of days it tooks to your skill to be certified. If you want, you can also add your skill name and link.
            Please do continue to post your times, this site is useless without constant data.
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">Who is collecting this data?</div>
          <div class="faq-answer">
            My name is <a href="https://twitter.com/dral3x">Alessandro</a> and I created this site in the hope that it would provide some useful information to Alexa developers around the world.
            Also, all the code for this project is opensource and available on <a href="https://github.com/dral3x/alexa-skill-certification-times">GitHub</a>.
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">Can I be notified of the numbers automatically?</div>
          <div class="faq-answer">Yes. The <a href="https://twitter.com/skillcerttimes">@skillcerttimes</a> account on Twitter will post once a day with the latest averages.</div>
        </div>
        
        <div class="faq-item">
          <div class="faq-question">How accurate is this data?</div>
          <div class="faq-answer">
            The averages on this site are based only on the data gathered from the community which are a very small subset of the total number of skills which go through certification each day. 
            However in our experience it does give a reasonable indication of how certification times are changing over time.
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">How is the average calculated?</div>
          <div class="faq-answer">
            The average for each day on the graph is calculated using a simple average based on historic data (using 30 days of data). 
            The current number of days average is simply the average of the same data points from that graph rounded to the nearest whole day.
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-question">This site reminds me of <b>appreviewtimes</b></div>
          <div class="faq-answer">
            It does because it IS based on <a href="http://appreviewtimes.com">appreviewtimes.com</a>. 
            A big Thanks goes to <a href="https://twitter.com/daveverwer">Dave Verwer</a> and his Shiny Development team for the original idea 👏</div>
        </div>

  		</div>

      <!-- Footer section -->

  		<div class="footer-container default-padding">
  			<div class="footer-item disclaimer">
          <b>DISCLAIMER:</b> 
          This website is not associated with the Amazon Inc. in any way and cannot be considered an Amazon official source of information
          <br />
          Amazon, Alexa and all related logos are trademarks of Amazon.com, Inc. or its affiliates.
          <br />
          Twitter and Tweet are trademarks of Twitter Inc.
        </div>

        <div class="footer-item">
          Created by <a href="https://twitter.com/dral3x">Alessandro Calzavara</a>, with the precious help of <a href="https://twitter.com/brigitadaisy">Brigita</a> and <a href="https://twitter.com/emanuele_r">Emanuele</a> ❤️️.
        </div>

        <div class="footer-item">
          This website is updated every hour or so.
          Last update was {{now}}
        </div>
  		</div>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-367202-7"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-367202-7');
      </script>
  </body>
</html>