body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  margin: 0px;
}

p {
  margin: 0px 5px 5px 0px;
}

a:link, a:visited {
  color: #5A99FF;
  font-weight: bold;
}
a:hover, a:active {
  color: #5A99FF;
  font-weight: bold;
}

/* Layout */

.default-padding {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.extra-padding {
}

@media only screen and (min-width: 768px) {
  .default-padding {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .extra-padding {
    margin: 50px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  background-color: black;
  color: white;
  font-weight: normal;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
  }
}

.header-item-image {
  flex: 1;

  width: 200;
}

@media only screen and (min-width: 768px) {
  .header-item-image {
    flex: initial;
  }
}

.header-item-text {
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px;
}

@media only screen and (min-width: 1200px) {
  .main-container {
    flex-direction: row;
  }
}

.main-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contribute-container {
  display: flex;
  flex-direction: column;

  background-color: rgba(90, 153, 255, 0.1);
  color: black;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .contribute-container {
    flex-direction: row;
  }
}

.contribute-item-fill {
  display: flex;
  flex-direction: column;
  flex: 1;

  font-weight: lighter;
}

.contribute-item-fixed {
  display: flex;
  flex-direction: column;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #F4F4F4;
  margin-bottom: 50px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-top: 40px;
}

.faq-item-first {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 14px;
}

.footer-item {
  display: flex;
  flex: 1;
  justify-content: center;

  padding: 10px;
}

/* Styles */

.huge {
  font-size: 50px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .huge {
    font-size: 60px;
  }
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  font-weight: lighter;
}

.accent {
  color: #5A99FF;
}

.button {
  display: inline-block;
  background-color: #5A99FF;
  border: none;
  padding: 40px 80px;
  border-radius: 12px;
  color: white;
  
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}
.button:link, .button:visited, .button:hover, .button:active {
  color: white;
}

.faq-title {
  font-size: 36px;
  font-weight: bold;
}

.faq-question {
  font-size: 26px;
  font-weight: bold;
}

.faq-answer {
  font-size: 21px;
  font-weight: lighter;
}

.disclaimer {
  color: #BA3030;
}